html {
  font-family: soleil;
  width: 100vw;

  .wrapper {
    width: 50%;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
  }

  h2 {
    font-size: 34px;
    font-weight: 800;
  }

  .subtitle {
    font-style: 19px;
    line-height: 30px;
    margin-bottom: 24px;
    font-weight: normal;
  }
  // @media screen and (max-width: 1770px) {
  //   .wrapper {
  //     margin: 0 20%;
  //   }
  // }
  @media screen and (max-width: 1470px) {
    .wrapper {
      width: 80%;
      margin: 0 auto;
    }
  }
}



