main {

  .ct-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 32px;
    margin-bottom: 100px;

    .left {
      width: 45%;
      padding: 40px;
      

      h2 {
        margin-bottom: 16px;
        color: #0c0c0c;
      }

      p {
        margin-bottom: 24px;
        line-height: 30px;
        font-weight: 300;
        color: #202020;
      }
    }
    .right {
      width: 55%;
      
      img {
        width: 100%;
      }
    }
  }
  .ct-1:nth-of-type(2) {
    flex-direction: row-reverse;
  }

  .ct-2 {
    text-align: center;
    display: flex;
    flex-direction: column;

    .double-img-ct {
      display: flex;


      .left {
        width: 50%;
        position: relative;

        .btn {
          margin-top: 25px;
        }
        .desk-img {
          width: 80%;
        }
      }
      .right {
        width: 50%;
        position: relative;

        .btn {
          margin-top: 25px;
        }
        .desk-img {
          width: 80%;
        }
      }
      .mobile-img {
        width: 30%;
        position: absolute;
        right: 0;
        bottom: 70px;
      }
    }
  }

  .ct-3 {
    text-align: center;
  }
}